@font-face {
    font-family: 'Google Sans';
    font-style: regular;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/GoogleSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Google Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/GoogleSans-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/fonts/GoogleSans-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Google Sans';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/fonts/GoogleSans-MediumItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/GoogleSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Google Sans';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/GoogleSans-BoldItalic.ttf) format('truetype');
}
