html.custom-theme {
  --browser-accent-color: #323639;
  --browser-accent-color-dark: #202124;
  --browser-active-icon-color: hsl(210deg 3% 45%);
  --browser-ntp-color: var(--browser-accent-color);
  --browser-icon-color: #ccc;
  --browser-logo-filter: invert(1) hue-rotate(310deg) brightness(4);
  --browser-search-highlight-color: rgb(255 255 255 / 10%);
  --browser-tab-divider-color: #4a4d51;
  --browser-tab-highlight-color: #292b2e;
  --browser-tab-strip: var(--browser-accent-color-dark);
  --browser-text-primary-color: #fff;
  --browser-text-secondary-color: #ddd;
}

html, body {
  overflow: hidden;
}

div[class^="rhnewtab-header-ad"] {
  display: none !important;
}

html.custom-theme [class^="chrome-tabs"] .chrome-tab .chrome-tab-background > svg .chrome-tab-geometry {
  fill: var(--browser-tab-highlight-color) !important;
}

html.custom-theme [class^="chrome-tabs"] .chrome-tab[active] .chrome-tab-background > svg .chrome-tab-geometry {
  fill: var(--browser-accent-color) !important;
}

html.custom-theme div[class^="browser-tab"] [class^="rhpages"] a:hover {
  filter: none !important;
  color: var(--browser-text-secondary-color);
}

html.custom-theme [class^="chrome-tabs"] .chrome-tab[active] .chrome-tab-title {
  color: var(--browser-text-secondary-color) !important;
}

html.custom-theme [class^="chrome-tabs"] .chrome-tab .chrome-tab-title {
  color: var(--browser-text-primary-color);
}

html.custom-theme [class^="chrome-tabs"] .chrome-tab .chrome-tab-dividers::before, html.custom-theme [class^="chrome-tabs"] .chrome-tab .chrome-tab-dividers::after {
  background: var(--browser-tab-divider-color) !important;
}

html.custom-theme [class^="browser-tab"], html.custom-theme [class^="addressbar"]:not([class^="addressbar-menu-item-icon"]), html.custom-theme [class^="chrome-tabs"], html.custom-theme [class^="rhnewtab-oldui-container"] input {
  background: var(--browser-accent-color-dark) !important;
  overflow: hidden;
}

html.custom-theme [class^="addressbar-menu-item-"]:not([class^="addressbar-menu-item-icon"]), html.custom-theme [class^="addressbar-menu"]:not([class^="addressbar-menu-item-icon"]) {
  background: var(--browser-accent-color-dark) !important;
  color: var(--browser-text-secondary-color);
}

html.custom-theme [class^="addressbar-menu"] input {
  color: var(--browser-text-secondary-color);
}

html.custom-theme [class^="addressbar-menu-item-"][style="background-color: rgba(0, 0, 0, 0.1);"] {
  background: var(--browser-search-highlight-color) !important;
  color: var(--browser-text-primary-color);
}



html.custom-theme [class^="addressbar"] > [class^="browser-bar-btn"] {
  background: var(--browser-accent-color-dark) !important;
}

html.custom-theme [class^="addressbar"] > [class^="browser-bar-btn"]:hover {
  background: var(--browser-accent-color) !important;
}

html.custom-theme div:not([class^="addressbar"]) > [class^="browser-bar-btn"] {
  background: var(--browser-accent-color) !important;
}

html.custom-theme [class^="browser-bar"]:not([class^="browser-bar-btn"]), html.custom-theme [class^="chrome-tabs-optional-shadow-below-bottom-bar"], html.custom-theme [class^="browser-bar-btn"][class$="enabled"]:hover, html.custom-theme [class^="rhnewtab-oldui-btn-container"] span:hover, html.custom-theme [class^="chrome-tabs"] [class^="chrome-tabs-bottom-bar"], html.custom-theme #root [class^="browser"]:not([class^="browser-bar-btn"]), html.custom-theme [class^="addressbar-btn"]:hover {
  background: var(--browser-accent-color) !important;
}

html.custom-theme [class^="browser-bar"] {
  border-bottom: 1px solid var(--browser-accent-color-dark);
}

html.custom-theme .chrome-tabs-dark-theme {
  border-radius: 0px;
}

html.custom-theme, html.custom-theme .rhnewtab-oldui-container input {
  color: var(--browser-text-secondary-color);
}

html.custom-theme [class^="browser-bar-btn"][class$="disabled"] {
  fill: var(--browser-active-icon-color);
  stroke: var(--browser-active-icon-color);
}

html.custom-theme [class^="rhnewtab-header"] img, html.custom-theme div[class^="browser-tab"] [class^="rhpages"] a {
  filter: var(--browser-logo-filter);
}

html.custom-theme div[class^="browser-tab"] [class^="rhpages"] hr {
  border-color: var(--browser-accent-color);
  border-style: solid;
}

html.custom-theme [class^="chrome-tabs"] .chrome-tab .chrome-tab-content {
  border-color: transparent;
  transition: border-color 0.5s;
}

html.custom-theme div[class^="browser-tab"] [class^="rhpages"] {
  height: 100%;
  background-color: var(--browser-ntp-color);
  box-shadow: inset 0px 0px 20px 0px var(--browser-accent-color-dark);
}
