/*
  @name     AMOLED for Rammerhead
  @author   TheRealGeoDash2019
  @version  0.0.2
*/

html.custom-theme {
    --browser-icon-color: #888;
    --browser-accent-color-dark: #000000;
    --browser-accent-color: #151515;
    --browser-tab-strip: var(--browser-accent-dark);
    --browser-tab-divider-color: #101010;
    --browser-tab-highlight-color: #101010;
    --browser-search-highlight-color: rgb(145 145 145 / 10%);
    --browser-text-primary-color: #ddd;
    --browser-text-secondary-color: #fff;
    --browser-active-icon-color: #333;
    --browser-logo-filter: saturate(0) opacity(0.5) invert(1);
}
