html.custom-theme {
  --browser-icon-color: #ccc;
  --browser-accent-color-dark: #400000;
  --browser-accent-color: #770000;
  --browser-tab-strip: var(--browser-accent-dark);
  --browser-tab-divider-color: #200000;
  --browser-tab-highlight-color: #200000;
  --browser-search-highlight-color: rgb(255 255 255 / 10%);
  --browser-text-primary-color: #ddd;
  --browser-text-secondary-color: #fff;
  --browser-active-icon-color: hsl(210deg 3% 45%);
  --browser-logo-filter: invert(1) hue-rotate(120deg) saturate(1);
}
