html.custom-theme {
  --browser-icon-color: #ccc;
  --browser-accent-color-dark: #410066;
  --browser-accent-color: #510080;
  --browser-tab-strip: var(--browser-accent-dark);
  --browser-tab-divider-color: #7100b3;
  --browser-tab-highlight-color: #7100b3;
  --browser-search-highlight-color: rgb(255 255 255 / 10%);
  --browser-text-primary-color: #ddd;
  --browser-text-secondary-color: #fff;
  --browser-active-icon-color: hsl(210deg 3% 45%);
  --browser-logo-filter: invert(1) hue-rotate(45deg) saturate(1.5);
}
